    <!-- Timetable Section -->
    <section id="timetable" class="content-section text-center">
        <div class="content-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Timetable</h2>
                    <p>Have a table here. Or a link to some resources (PDF?)</p>
                    <a href="http://www.adobe.com/" class="btn btn-default btn-lg">Home of the PDF</a>
                </div>
            </div>
        </div>
    </section>